.wrapper {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #fa3e05;
}
.wrapper .error-wrap .error {
  font-size: 300px;
}
.wrapper .error-wrap .message-page {
  text-align: center;
  margin-top: -30px;
  font-size: 50px;
}
.wrapper .msg-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper .msg-wrap .message {
  font-size: 18px;
  margin-bottom: 10px;
}
.wrapper .msg-wrap .home {
  font-size: 18px;
  text-align: center;
  width: 130px;
  padding: 10px;
  border: 1px solid #fa3e05;
  border-radius: 20px;
  background: #fa3e05;
}
.wrapper .msg-wrap .home a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
