.emoji-wrap {
  display: flex;
  justify-content: center;
}
.emoji-wrap div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 70px;
}
.heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.heading div {
  padding: 20px 0;
  display: flex;
  font-size: 18px;
}
.add-container {
  display: flex;
  flex-direction: column;
}
.add-wrap {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.add-wrap button {
  border-radius: 10px;
  height: 38px;
  width: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 24px;
  margin-top: 18px;
  margin-left: 38px;
}
.add-wrap .button-cnl {
  margin-left: 4px;
  background: #DC143C;
}
.btn-dd {
  border: none;
  font-size: 18px;
  margin: 10px auto;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  background-color: #FFD700;
}
.table-wrap {
  display: flex;
}
.table-wrap table {
  width: 100%;
  border: none;
  border-spacing: 0px;
  border-collapse: collapse;
  z-index: 1;
  font-size: 18px;
}
.table-wrap table thead tr th {
  width: 200px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  border: none;
  background: #FFD700;
}
.table-wrap table thead tr th:first-child {
  border-radius: 8px 0 0 8px;
}
.table-wrap table thead tr th:last-child {
  border-radius: 0 8px 8px 0;
}
.table-wrap table thead tr .last-clmn {
  width: 100px;
}
.table-wrap table tbody tr {
  border-radius: 10px;
}
.table-wrap table tbody tr td {
  text-align: center;
  border: none;
  width: 200px;
  height: 60px;
  vertical-align: middle;
}
.table-wrap table tbody tr td:first-child {
  border-radius: 8px 0 0 8px;
}
.table-wrap table tbody tr td:last-child {
  border-radius: 0 8px 8px 0;
}
.table-wrap table tbody tr td .table-btn {
  width: 95px;
  height: 38px;
  font-size: inherit;
  background-color: #FFD700;
  border: none;
  border-radius: 10px;
}
.table-wrap table tbody tr .last-clmn {
  width: 100px;
}
.search-wrap {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.search-wrap .real-checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.search-wrap .real-checkbox:focus + .custom-checkbox {
  box-shadow: 0px 0px 0px 1px #38577a, 0px 0px 10px #7e9bbd;
}
.search-wrap .custom-checkbox {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #7e9bbd;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
}
.search-wrap .custom-checkbox::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(src\assets\check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: 0.2s ease-in;
}
.search-wrap .real-checkbox:checked + .custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.search-wrap .form-fields {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 250px;
  margin-right: 4px;
  margin-left: 10px;
  padding: 6px;
  line-height: 24px;
  font-size: 18px;
}
.isredrow {
  background: #fc3a3a;
}
.isgreenrow {
  background: #6bff95;
}
.filter-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}
.filter-table .filter-gpa {
  display: flex;
}
.filter-table .filter-gpa div {
  display: flex;
}
.filter-table .filter-gpa #isgpa {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.filter-table .form-field {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fafafa;
  width: 200px;
  margin: 0 8px 10px;
  padding: 6px;
  line-height: 24px;
  font-size: 16px;
}
.dropdown {
  display: none;
}
.open + .dropdown {
  display: flex;
  flex-direction: column;
}
.edit {
  display: flex;
  position: absolute;
  z-index: 9999999;
  margin-left: -1000px;
}
.edit .table-btns {
  margin-left: 38px;
  width: 95px;
  height: 38px;
  font-size: inherit;
  background-color: #DC143C;
  border: none;
  border-radius: 10px;
}
.edit .cancel {
  margin-left: 5px;
}
.invisible {
  display: none;
}
.visible {
  display: flex;
}
.popUp {
  flex-direction: column;
  background: white;
  padding: 5px;
  width: 410px;
  position: absolute;
  z-index: 99999999;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 10px;
}
.popUp p {
  font-size: 18px;
}
.popUp div {
  margin-top: 10px;
}
.popUp div button {
  border-radius: 10px;
  background-color: #fc3a3a;
  width: 70px;
  height: 30px;
}
.popUp div button:last-child {
  margin-left: 30px;
  background-color: #6bff95;
}
